body {
	background: inherit;
	position: static;
	background-repeat: no-repeat;
	background-size: cover;
	width:100%;
	height: 100%;

}
::-webkit-input-placeholder {
   color: red;
	 font-size: 30px
	 text-align: center;
}



.form-control {
	background-color: black;
	color: white;
}
.rd3-chart{
	position: relative;
	left: 17em;
	bottom: 2em;
}

.shrink1 {
	position: absolute;
  display: inline-block;
  background: inherit;
	right: 20em;

}
.shrink2 {
	position: relative;
  display: inline-block;
  background: inherit;
	right: 15em;
}

.rd3-basic-chart{
	width: 100%;
	position: relative;
  display: block;
}

.chart{
  background: url("http://payload350.cargocollective.com/1/0/1371/9319384/IBM_WatsonCIC_JdF-Mirada_168_1000.jpg");
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height: 100%;
}

.large {
	margin-bottom: 1em;
}

.rd3-treemap {
	position: relative;
	right: 10em;
}
.form-horizontal {
	text-align: center;
	width: 100%;
	position: relative;
}
.pie-appear {
  opacity: 0.01;
}

.pie-appear.initialLoad-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.pie-enter {
  opacity: 0.01;
}

.pie-enter.pie-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.pie-leave {
  opacity: 1;
}

.pie-leave.pie-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.bar-enter {
  opacity: 0.01;
}

.bar-enter.bar-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.bar-leave {
  opacity: 1;
}

.bar-leave.bar-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.tree-enter {
  opacity: 0.01;
}

.tree-enter.tree-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.tree-leave {
  opacity: 1;
}

.tree-leave.tree-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

textarea.form-control::placeholder{
	font-size: 20px;
}

.rd3-chart-title{
	position: relative;
  color: #ffffff;
	left: 14em;
	bottom: 2em;
}

text{
  fill: #ffffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
