body {
	background-color: white;
	font-color: black;
}


.shrink {
  display: block;
  position: relative;
}


.form-horizontal {
	text-align: center;
	width: 100%;
	position: relative;
}

/*.rd3-chart-title{
  display:block;
  position: relative;
}

.rd3-basic-chart {
  display: block;
  position: relative;
}*/

.piechart {
	width:25%;
	height: 25%;
}
